@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz@9..144&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fraunces', serif;
    background-color: hsl(30, 38%, 92%);
    overflow: hidden;
}

.main-container {
    background-color: #fff;
    width: 600px;
    height: 450px;
    margin: 20vh auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.background-img {
    background: url('images/image-product-desktop.jpg') no-repeat center center/cover;
    height: 100%;
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content {
    padding: 0 30px;
    width: 50%;
}

.content .perfume {
    display: block;
    text-transform: uppercase;
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 14px;
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}

.content h1 {
    line-height: 1;
    margin-bottom: 20px;
}

.content p {
    font-size: 15px;
    color:hsl(228, 12%, 48%);
    line-height: 1.5;
    margin-bottom: 30px;
}

.content .current-price {
    font-size: 32px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
}

.content .before-price {
    position: relative;
    bottom: 6px;
    display: inline-block;
    font-size: 13px;
    color:hsl(228, 12%, 48%);
    margin-left: 20px;
    text-decoration: line-through;
}

.content a {
    display: block;
    text-align: center;
    text-decoration: none;
    width: 100%;
    margin-top: 30px;
    background-color: hsl(158, 36%, 37%);
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 5px;
}

.content a:hover {
    background-color: hsl(212, 21%, 14%);
}

.content a i {
    display: inline-block;
    margin-right: 10px;
}

@media (max-width: 600px) {
    .main-container {
        flex-direction: column;
        max-width: 90%;
        height: 90vh;
        margin: 30px auto;
    }

    .background-img {
        background: url('images/image-product-mobile.jpg') no-repeat center center/cover;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .content {
        margin: 30px 0;
        padding: 0 30px;
        width: 100%;
    }
}